@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]

<p>Username is @UserName</p>
<button type="button" @onclick="IncrementCount">Current count: @_currentCount</button>

@code {
    int _currentCount = 0;

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    [Parameter]
    public string UserName { get; set; } 

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStat).User;
        var auth = user.Identity.IsAuthenticated;
        if (auth)
        {
            Console.WriteLine("Authorized");
        }

        else
        {
            Console.WriteLine("UnAuthorized");
        }
    }

    void IncrementCount()
    {
        _currentCount += IncrementAmount;
    }
}